
# /
/.sconsign.dblite
/.sconf_temp
/config.log

# /doc/
/doc/htmlDir

# /python/lsst/meas/
/python/lsst/meas/*.pyc

# /python/lsst/meas/utils/
/python/lsst/meas/utils/*.pyc

# /tests/
/tests/.tests
/tests/*.pyc
